* {
    outline: 1px solid red;
    box-sizing: border-box;
  }

section {
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.hero{
    height: 100vh;
    overflow: hidden;
    display:flex;
}

.hSection{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hSection.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
  }

.hTitle{
    margin-top: 50px;
    font-size: 100px;
    color:#ef1f9f;
}

.hTitle span{
    font-size: 100px;
    color:black;
}

.socials{
    width: 90%;
    margin-bottom: 300px;
}

.socials h2{
    font-size: 30px;
}

.socials p{
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
    margin-top: 8px;
}

.socialsList{
    display: flex;
    gap: 8px;
}


.socialsList img{
    height: 40px;
    width:40px;
    background-color: white;
    padding:8px;
    border-radius: 50%;
} 

.bubble{
    width: 100%;
    height: 100px;
    background-color: white;
    color: grey;
    padding: 24px;
    font-size: 18px;

}
.bubbleContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px 0;
}
